

.headingabout {
    font-size: 3em;
    color: #005f73;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1cm;
    font-family: 'Georgia', serif; 
}

.aboutpara {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2cm;
}

@media (max-width: 600px) {
    .headingabout {
        font-size: 2em;
    }

    .aboutpara {
        font-size: 1em;
    }
}
